$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Spartan', sans-serif;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container {
	background: url('../images/bg-pattern-top-desktop.svg'),
		url('../images/bg-pattern-bottom-desktop.svg');
	background-repeat: no-repeat;
	background-position: top left, bottom right;
	max-width: 1440px;
	height: 800px;
	padding: 95px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
/* top portion */

.top-container {
	display: flex;
	flex: 1 1 auto;
	padding: 20px;
	height: 50%;
}

/* call out */

.call-out {
	flex-basis: 50%;
	padding-right: 10%;
	h1 {
		color: $very-dark-magenta;
		font-size: 3rem;
		letter-spacing: -2px;
		padding: 5px;
	}
	p {
		padding: 5px;
		color: $very-dark-magenta;
		line-height: 1.5rem;
	}
}

/* call out ends */

/* ratings */

.ratings {
	flex-basis: 50%;
	padding-top: 18px;
	padding-right: 3.4%;
	display: flex;
	flex-direction: column;
}

.rating {
	height: 24.3%;
	width: 80%;
	border-radius: 1rem;
	margin-bottom: 3.5%;
	background-color: $light-grayish-magenta;
	display: flex;
	align-items: center;
	color: $very-dark-magenta;
	font-weight: 700;
	.star {
		padding-left: 7%;
		flex-basis: 40%;
	}
}
.rating-one {
	align-self: flex-start;
}
.rating-two {
	align-self: center;
}

.rating-three {
	align-self: flex-end;
}
/*ratings end */

/* top portion ends*/

/* bottom portion */

.bottom-container {
	flex: 1 1 auto;
	height: 50%;
	padding-top: 40px;
}

.reviews {
	display: flex;
	height: 100%;
}

.review {
	display: flex;
	flex-direction: column;
	height: 90%;
	background: $very-dark-magenta;
	border-radius: 1rem;
	margin-right: 30px;
	.card-top {
		display: flex;
		padding: 30px;
		align-items: center;
		height: 40%;
		img {
			border-radius: 50%;
			height: 50px;
		}
		.info {
			padding-left: 30px;
			height: 50px;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-evenly;
			h4 {
				color: $white;
				font-size: 0.9rem;
			}
			p {
				color: $soft-pink;
				font-size: 0.9rem;
			}
		}
	}
	.card-bottom {
		height: 60%;
		padding: 0px 30px 40px 20px;
		color: white;
		line-height: 25px;
		font-size: 0.9rem;
		letter-spacing: 0.6px;
	}
}

.review-one {
	align-self: flex-start;
}

.review-two {
	align-self: center;
}

.review-three {
	align-self: flex-end;
}
/* bottom portion ends*/

@media screen and (max-width: 1291px) {

	.container {
		background: url('../images/bg-pattern-top-mobile.svg'),
			url('../images/bg-pattern-bottom-mobile.svg');
		background-repeat: no-repeat;
		background-position: top left, bottom right;
		width: 100%;
		height: initial;
		padding: 10px 10px;
		display: flex;
		flex-direction: column;
		overflow: auto;
	}
	/* top portion */

	.top-container {
		display: flex;
		flex-direction: column;
		padding: 10px 0px 0px 0px;
		height: initial;
	}

	/* call out */

	.call-out {
		padding:0px;
		flex-basis:30%;
	}

	/* call out ends */

	/* ratings */

	.ratings {
		padding:0px;
		justify-content: center;	
		height: 0;
}

	.rating {
		margin:0px auto 10px auto;
		height: 60px;
		max-width: 375px;
		padding:10px;
		border-radius: 1rem;
		color: $very-dark-magenta;
		font-weight: 700;
		font-size: 0.75rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.star {
			padding:0;
			flex-basis: 100%;
		}
	}
	.rating-one {
		align-self: flex-start;
	}
	.rating-two {
		align-self: flex-start;
	}

	.rating-three {
		align-self: flex-start;
	}
	/*ratings end */

	/* top portion ends*/

	/* bottom portion */

	.bottom-container {
		margin:0px auto;
		padding:0px 10px;
		height: initial;
	}

	.reviews {
		height: 50%;
		flex-direction: column;
	}

	.review {
		height: 250px;
		width:350px;
		background: $very-dark-magenta;
		border-radius: 1rem;
		margin-right: 0;
		margin-bottom: 20px;
	}
	/* bottom portion ends*/
}
